<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--定义属性值-->
    <properties>
        <property name="username" value="root"/>
        <property name="password" value="root"/>
    </properties>
    <!--全局配置-->
    <settings>
        <!--全局性地开启或关闭所有映射器配置文件中已配置的任何缓存。-->
        <setting name="cacheEnabled" value="true"/>

        <!--日志打印到控制台-->
        <setting name="logImpl" value="org.apache.ibatis.logging.stdout.StdOutImpl"/>

        <!--开启主键自增-->
        <!--<setting name="useGeneratedKeys" value="true"/>-->

        <!--全局启用懒加载-->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!--激进懒加载，
        为true时，对对象任一属性的读、写操作，都会触发该对象所有懒加载属性的加载
        为false时，对对象的某一个懒加载属性的读操作会触发该属性的加载-->
        <setting name="aggressiveLazyLoading" value="false"/>
    </settings>
    <!--配置别名信息-->
    <!--mybatis-config.xml配置文件配置的别名可以在mapper层的xml文件中使用-->
    <typeAliases>
        <typeAlias type="com.chenx.learning.pojo.Customer" alias="Customer"/>
        <typeAlias type="com.chenx.learning.pojo.Product" alias="Product"/>
        <typeAlias type="com.chenx.learning.pojo.OrderItem" alias="OrderItem"/>
        <typeAlias type="com.chenx.learning.pojo.Order" alias="Order"/>
        <typeAlias type="com.chenx.learning.pojo.Address" alias="Address"/>
    </typeAliases>

    <!--    <plugins>-->
    <!--        <plugin interceptor="com.chenx.learning.plugin.DemoPlugin">-->
    <!--            &lt;!&ndash;初始化拦截器属性&ndash;&gt;-->
    <!--            <property name="logLevel" value="1"/>-->
    <!--        </plugin>-->
    <!--    </plugins>-->
    <!--环境配置，default表示默认选择的环境-->
    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url"
                          value="jdbc:mysql://localhost:3306/mybatis-learning?serverTimezone=Asia/Shanghai&amp;allowMultiQueries=true&amp;useAffectedRows=true"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <!--如果你正在使用 Spring + MyBatis，则没有必要配置事务管理器，因为 Spring 模块会使用自带的管理器来覆盖前面的配置。-->

    <!--这些配置会告诉 MyBatis 去哪里找映射文件，根路径是resources-->
    <mappers>
        <mapper resource="mapper/CustomerMapper.xml"/>
        <mapper resource="mapper/ProductMapper.xml"/>
        <mapper resource="mapper/OrderItemMapper.xml"/>
        <mapper resource="mapper/OrderMapper.xml"/>
        <mapper resource="mapper/AddressMapper.xml"/>
    </mappers>

</configuration>